# Ignore node_modules in subdirectories
/backend/node_modules
/frontend/node_modules
/node_modules

# Ignore OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Enviroment 
.env

# Build output
dist/
build/

# Logs
*.log