# Ignore node_modules in subdirectories
/backend/node_modules/
/frontend/node_modules/
/node_modules/

# Ignore NestJS dist files
/backend/dist/

# Ignore .env in subdirectories
/backend/.env

# Ignore backend keys
/backend/keys/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log