.grant-item-wrapper {
    margin: 2rem 0;
    transition: all 0.3s ease-in-out;
}

.grant-summary {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    border-radius: 1.2rem;
    height: 4rem;
    background-color: #F26624;
    margin: 0; /* Remove margin */
    transition: background-color 0.2s ease;
}

.grant-summary.expanded {
    background-color: #F58D5C;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.grant-summary li {
    padding: 0 1rem; /* internal to the actual data */
    color: black;
    margin: 0; /* Remove margin */
    

}

.grant-body {
    max-height: 0; /* Collapsed state */
    min-height: 0;
    overflow: hidden;
    background-color: #F26624;
    transition: max-height 1s ease, background-color 0.2s ease;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}

.grant-body.expanded {
    max-height: 100vh;
    background-color: #F58D5C;
    padding: 1rem;
}

.grant-item.expanded {
    flex-direction: column;
    max-height: 5rem;
    background-color: #F58D5C;
}

.grant-description {
    margin: 0 1rem;
}

.grant-description p {
    border: 1px solid black; 
    border-radius: 8px; 
    padding: 1rem; 
    margin-bottom: 1rem; 
    transition: border-color 0.3s ease; 
}

.grant-description h3 {
    margin-left: 0; 
    text-align: left;
    margin-bottom: 0.5rem; 
    padding-left: 1rem; 
}




