.grant-item-wrapper {
    margin: 0.25rem 0rem;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.grant-summary {
    list-style-type: none;
    /* justify-content: space-between; */
    border-radius: 0.8rem;

    background-color: #F2EBE4;
    /* margin: 0; Remove margin */
    transition: background-color 0.2s ease;
    border: 0.1rem solid #F26624;
}

.grant-summary.expanded {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;

}

.grant-summary li {
    /* padding: 0 1rem; internal to the actual data */
    color: black;
    /* margin: 0; Remove margin */
    

}

.grant-content {
    display: flex;
    gap: 2rem; /* Adds space between the two sections */
    width: 100%;
    margin: 0;
    align-items: stretch;
    
}

.grant-content .grant-details {
    flex: 1;          /* this child takes up leftover horizontal space */
    min-width: 0;     /* prevent overflow from long content */
}

.grant-body {
    max-height: 0; /* Collapsed state */
    min-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, background-color 0.2s ease;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    
}

.grant-body.expanded {
    max-height: 100vh;
    padding: 1rem;
    border: 0.1rem solid #F26624;
    border-top-width: 0cap;
}

.grant-item.expanded {
    flex-direction: column;
    max-height: 5rem;
    
}

.bottom-buttons {
    display: flex;  /* Use flexbox to position the button */
    justify-content: flex-end;  /* Align the button to the right */
    padding-top: 1rem;  /* Optional: Add some space above the button */
}

.done-button {
    bottom: 1rem; 
    right: 1rem; 
    padding: 0.5rem 1rem;
    background-color: #3191CF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}




