/* Main container styling */
.grant-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #F2EBE4;
    width: 100%;
}

/* Bottom half to stack grant-list and footer */
.bot-half {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

