.grant-attributes {
    background-color: #F26624; 
    padding: 1rem;
    border-radius: 8px; 
    margin-top: 1rem;
    height: 30%;
    margin-right: 1rem;
}

.attribute-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; 
}

.attribute-label {
    font-weight: bold;
    color:black; 
    flex: 1; 
    margin-right: 1rem;
}

.attribute-value {
    background-color: #F26624; 
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
    height: 20px;
}
