.green-button {
    background-color: #5AB911;
}

.gray-button {
    background-color: #A8A3A3;
}

.orange-button {
    background-color: #F7A781;
}

.button-default {
    color: #000000;
    width: 168.42px;
 
}