/* Optional: styling for the preview of the status button */
.status-button-preview {
  cursor: pointer;
}

/* Button preview defaults */
.button-default {
  color: black;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 15px;
  z-index: 0;
}