.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
flex-grow: 1;

  
    background-color: white;
    border-color: var(--color-grey-100);
    width: 100%;
    padding: 1em;
    
    /* Text */
    font-size: 1.3rem;
    color: var(--color-grey-700);
}

.text-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.northeastern-uni-caption {
    font-size: 0.90rem;
    line-height: 1rem;
    color: var(--color-grey-600);
}