.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
flex-grow: 1;

  
    background-color: white;
    border-color: rgb(228, 228, 231);
    width: 100%;
    padding: 1em;
    
    /* Text */
    font-size: 1.3rem;
    color: rgb(74 73 81) + 1;
}

.bcan-link {
    background-color: "#0b303b";
    border-width: 0;
    border-radius: "100px";
    color: white;
    text-transform: "uppercase";
}

.text-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.northeastern-uni-caption {
    font-size: 0.90rem;
    line-height: 1rem;
    color: rgb(153 151 162);
}