@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green-dark: #119548;
  --color-green: #5ab911;
  --color-green-light: #c6fbd3;

  --color-yellow: #f8cc16;
  --color-yellow-light: #fff8ca;
  --color-yellow-dark: #8a710c;

  --color-red: #d33221;
  --color-red-dark: #771505;
  --color-red-light: #ff6b6b;
  --color-red-lighter: #ffa399;
  --color-red-lightest: #ffdfdf;

  --color-tan: #f2ebe4;

  --color-orange: #ffa500;
  --color-orange-light: #ffceb6;
  --color-orange-lightest: #fff1eb;

  --color-primary-900: #e16f39;
  --color-primary-800: #e78c61;
  --color-primary-700: #eca380;

  --color-secondary-900: #001733;
  --color-secondary-800: #002f66;
  --color-secondary-700: #004899;
  --color-secondary-600: #0061cc;
  --color-secondary-500: #007aff;
  --color-secondary-400: #3b98ff;
  --color-secondary-300: #75b6ff;
  --color-secondary-200: #b0d5ff;
  --color-secondary-100: #ebf4ff;

  --color-accent: #5f5ac6;

  --color-grey-900: #212529;
  --color-grey-800: #343a40;
  --color-grey-700: #495057;
  --color-grey-600: #6c757d;
  --color-grey-500: #adb5bd;
  --color-grey-400: #ced4da;
  --color-grey-300: #dee2e6;
  --color-grey-200: #e9ecef;
  --color-grey-100: #f8f9fa;

  --color-black: #000000;
  --color-white: #ffffff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: var(--color-tan);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-secondary-500);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-secondary-500);
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 15px;
  border: 0.1rem solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

textarea {
  border-color: darkorange;
}

button:hover {
  border-color: darkorange;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-grey-800);
    background-color: white;
  }
  a:hover {
    color: var(--color-secondary-500);
  }
  button {
    background-color: var(--color-grey-100);
  }
}

input:focus {
  outline: 1px solid darkorange;
}
