.notification-popup {
  position: absolute;
  right: 7.5rem;
  top: 75px;
  width: min(340px, 70%);
  background-color: white;
  border: 1px solid #343131;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 0.5rem;
  z-index: 1000;
}


.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #ddd;
}


.popup-header h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}


.close-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #777;
}
.close-button:hover {
  color: #e74c3c;
}


.notification-list {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}


.grant-notification {
  position: relative;
  border-bottom: 0.2px solid #dfd9d9;
  border-radius: 0px;
  padding: 8px 10px;
  padding-right: 35px;
  margin-bottom: 2px;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
  display: flex;
}

.bell-notif {
  margin-right: 10px;
  background-color: rgb(225, 225, 225);
  padding: 10px;
  border-radius: 100%;
  scale: 73%;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-text {
  flex: 1;
}

.notification-title {
  font-weight: 600;
  font-size: 13px;
  color: #101010;
  line-height: 1.15;
}

.notification-message {
  font-size: 12.5px;
  color: #555;
  margin-top: 4px;
  line-height: 1.2;
}

.grant-notification:hover {
  background-color: #f1f1f1;
}

.notification-trash-icon {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #aaa;
  cursor: pointer;
  font-size: 0.9rem
}

.notification-trash-icon:hover {
  color: #e74c3c
}
