.notification-popup {
  position: absolute;
  right: 6rem;
  top: 2.5rem;
  width: min(340px, 70%);
  background-color: white;
  padding: 0.5rem;
  z-index: 1000;
}


.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--color-grey-400);
}


.popup-header h3 {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: black;
  margin: 0;
}


.close-button {
  background: none;
  border: none;
  font-size: var(--font-size-base);
  cursor: pointer;
  color: gray;
}
.close-button:hover {
  color: var(--color-red);
}


.notification-list {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.grant-notification {
  position: relative;
  border-bottom: 0.2px solid var(--color-grey-400);
  border-radius: 0px;
  padding: 8px 10px;
  padding-right: 35px;
  margin-bottom: 2px;
  font-size: var(--font-size-sm);
  transition: background-color 0.2s ease;
  display: flex;
}

.bell-notif {
  margin-right: 10px;
  background-color: var(--color-grey-100);
  padding: 10px;
  border-radius: 100%;
  scale: 73%;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-text {
  flex: 1;
}

.notification-title {
  font-weight: 600;
  font-size: var(--font-size-sm);
  color: black;
  line-height: 1.15;
}

.notification-message {
  font-size: var(--font-size-xs);
  color: var(--color-grey-600);
  margin-top: 4px;
  line-height: 1.2;
}

.grant-notification:hover {
  background-color: var(--color-grey-100);
}

.notification-trash-icon {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: gray;
  cursor: pointer;
  font-size: var(--font-size-sm);
}

.notification-trash-icon:hover {
  color: var(--color-red)
}
