html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-size: medium;
}

/* Main container styling */
.dashboard-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2ebe4;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1em;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 1.2rem;
  border: 0.1rem solid black;
}

.kpi-card {
  background-color: #FFd5C2;
}

.tooltip {
  border-radius: 12px;
  background-color: "#fffff";
  border: "1px solid #ccc";
  box-shadow: "0 2px 8px rgba(0,0,0,0.1)";
}

.axis {
  font-size: 0.875rem; /* Tailwind's text-sm */
}
.data {
  white-space: nowrap;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.my-custom-gantt-theme {
  --wx-gantt-task-color: #4f81bd !important; /* persist bar color */
  --wx-gantt-task-border: none !important;
  --wx-gantt-bar-border-radius: 8px !important;
}

.my-custom-gantt-theme .wx-task {
  background-color: var(--wx-gantt-task-color) !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}
