@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  text-align: center; /* Optional: centers text inside */
  width: 100%;
}

