@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items:baseline; /* Centers vertically */
  text-align: center; /* Optional: centers text inside */
  width: 100%;
  min-height:100vh;
}

