.bell-container {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.bell-container button {
    background-color: transparent;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.bell-container:hover {
    background-color: #f39c12;
    border-radius: 5%;
    color: white;
}


.notification-modal {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #cb6f1e;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    max-width: 300px;
    padding: 16px;
    overflow-x: auto;
    overflow-y: auto;
}

.notification-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-item {
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
}

.notification-close-button {
    margin-top: 12px;
    padding: 6px 12px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.notification-close-button:hover {
    background-color: #965217;
}

