.main_div {
    display:flex;
    flex-direction: column;
    height:100%

}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  