.grant-button {
    color: black;
    
    /* Shape and layout */
    border-radius: 15px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 42px;
    border: 0.1rem solid;
    transition: opacity 0.2s ease-in-out;
  }

  .add-grant-button {
  width: 168.42px;
  font-weight: 600;
  border-color: transparent;
  }
  
  
  .grant-button:hover {
    opacity: 0.8;
  }

  