.grant-button {
    color: black;
    
    /* Shape and layout */
    border-radius: 0.85rem;
    padding: 0rem 1.2rem;
    cursor: pointer;
    height: 42px;
    font-size: var(--font-size-base);
    transition: opacity 0.2s ease-in-out;
  }

  .add-grant-button {
  width: 168.42px;
  font-weight: 600;
  border-color: transparent;
  }
  
  
  .grant-button:hover {
    opacity: 0.8;
  }

  