.grant-button {
    color: black;
    
    /* Shape and layout */
    border-radius: 0.85rem;
    padding: 0.5rem 1.2rem;
    align-items: center;
    cursor: pointer;
    height: 42px;
    font-size: var(--font-size-base);
    transition: opacity 0.2s ease-in-out;
  }

  .add-grant-button {
  padding: 0.5rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-weight: 600;
  border-color: var(--color-grey-500);
  }
  
  
  .grant-button:hover {
    opacity: 0.8;
  }

  