.grant-item-wrapper {
  margin: 0.25rem 0rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.grant-summary {
  list-style-type: none;
  /* justify-content: space-between; */
  border-radius: 15px;

  background-color: var(--color-grey-200);
  /* margin: 0; Remove margin */
  transition: background-color 0.2s ease;
  border: 0.1rem solid var(--color-primary-900);
}

.grant-summary.expanded {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
}

.grant-summary li {
  /* padding: 0 1rem; internal to the actual data */
  color: black;
  /* margin: 0; Remove margin */
}

.grant-content {
  display: flex;
  gap: 2rem; /* Adds space between the two sections */
  width: 100%;
  margin: 0;
  align-items: stretch;
}

.grant-content .grant-details {
  flex: 1; /* this child takes up leftover horizontal space */
  min-width: 0; /* prevent overflow from long content */
}

.grant-body {
  max-height: 0; /* Collapsed state */
  min-height: 0;
  overflow: hidden;
  transition: max-height 1s ease, background-color 0.2s ease;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.grant-body.expanded {
  max-height: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--color-primary-900);
  border-top-width: 0cap;
}

.grant-item.expanded {
  flex-direction: column;
  max-height: 5rem;
}

.bottom-buttons {
  display: flex; /* Use flexbox to position the button */
  justify-content: flex-end; /* Align the button to the right */
  padding-top: 1rem; /* Optional: Add some space above the button */
}

.gray-label {
  color: black;
  background-color: var(--color-grey-400);
}
