.grant-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background: var(--color-light-orange);
/* padding: 0.5em; */
}
