.search-bar-main-container {
    min-width: 300px;
    min-width: 300px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 42px;
}

.search-input-container {
    position: relative;
    width: 100%;
    border: 0px solid black;
    border-radius: 15px;
}

.search-input {
    color: black;
    padding: 8px;
    border-radius: 15px;
    border: 0.1rem solid black;
    width: 100%;
}

.search-input:focus {
    outline: none !important;
    border:0.1rem solid var(--color-medium-orange);
}


.filter-state {
    color: whitesmoke;
}